@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

.comment {
  list-style: none;
}

.comment__container {
  background-color: white;
  color: #202020;

  margin: 11px;

  width: 22em;
  min-height: 16.5em;
  border-radius: 6px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048);
}

.comment-list__comments-header {
  height: 40px;

  color: white;
  background: linear-gradient(90deg, #755edc 0%, #9a42f0 100%);

  padding-top: 15px;  
}

.comment__form {
  height: 16em;
}

.comment__header-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: right;
  padding: 10px 10px 6px 10px;
  height: 30px;
}

.comment__timestamp{
  text-align: right;
  vertical-align: bottom;
  font-size: 1em;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  padding: 5px 0 0 14px;
}

.comment__delete-btn {
  text-decoration: none;
  box-sizing: border-box;
  background: white;
  border: none;
  color: #b8bbbe;
  width: 3.5em;
  outline: none;
  transition: 150ms ease-in-out;

  &:hover {
    color:#9a42f0;
    transition: 150ms ease-in-out;
  }

}

.comment__message-container {  
  width: 100%;
  height: 150px;
  padding-bottom: 15px;
}

.comment__message {
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  height: 90%;
  width: 86%;
  resize: none;
  border: none;
  padding: 8px 10px;
  line-height: 1.5;

  &:focus{
    outline: none;
    border: 2.5px solid #8750E6;
    border-radius: 4px;
    padding: 6px 6px;
  }
}

.comment__btn-container {
  display: flex;
  flex-direction: row;
  margin-left: 24px;
}

.comment__save-btn {
  text-decoration: none;
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;

  box-sizing: border-box;
      
  background:white;
  color:#9a42f0;
  border: 3px solid #9a42f0;

  border-radius: 30px;
  
  width: 5em;
  height: 35px;
  outline: none;

  &:hover {
    background-color: #9a42f0;
    color: white; 
    border: none;
    transition: 200ms ease-in-out;
  }
}


