@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

.comment {
  list-style: none;
}

.comment__container {
  background-color: white;
  margin: 0.3em;
  color: #202020;
  width: 22em;
  min-height: 16em;
  border-radius: 6px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048);
}

.comment__form {
  height: 16em;
}

.comment__header-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: right;
  padding: 10px 10px;
  height: 30px;
}
.comment__timestamp{
  text-align: right;
  vertical-align: bottom;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  padding: 5px 0 0 8px;
}

.comment__message-container {  
  width: 100%;
  height: 150px;
  padding-bottom: 10px;
}

.comment__message {
  font-size: 17px;
  font-family: 'Rubik', sans-serif;
  height: 90%;
  width: 85%;
  resize: none;
  border: none;
  padding: 8px;

  &:focus{
    outline: none;
    border: 2.5px solid #8750E6;
    border-radius: 4px;
  }
}


.comment__btn-container {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

.comment__submit-btn {
  text-decoration: none;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: white;

  box-sizing: border-box;
  background: #755edc;
  background: linear-gradient(90deg, rgba(117,94,220,1) 0%, rgba(154,66,240,1) 100%);

  border: none;
  border-radius: 30px;
  
  width: 5em;
  height: 35px;
  outline: none;

  // transition: 100ms all;

  &:hover{

  }

  &:active {
    background:white;
    color:#9a42f0;
    border: 3px solid #9a42f0;
    // transition: 200ms ease;
  }
}

.comment__delete-btn {
  text-decoration: none;
  box-sizing: border-box;
  background: white;
  border: none;
  color: #b8bbbe;
  width: 3.5em;
  outline: none;
  transition: 150ms all;

  &:hover {
    color:#8750E6;
    transition: 150ms all;
  }

  &:active{
    color:#8750E6;
  }
}
